<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/inscription.css">
    <title>inscription</title>
</head>
<body>
    <div class="nomsite">
        <h1>Mon forum</h1>
    </div>
    <form action="./inscription" method="POST">
        <h1>Inscription</h1>
        <label for="username">Username:</label>
        <input type="username" id="username" name="username" required="" placeholder="Entrez votre nom d'utilisateur">
        <br>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required="" placeholder="Entrez votre adresse email">
        <br>
        <label for="password">Mot de passe:</label>
        <input type="password" id="password" name="password" required="" placeholder="Entrez votre mot de passe">
        <br>
        <button type="submit">S'inscrire</button>
        <br>
        <br>
        <a href="/">Vous avez déjà un compte ? connecter-vous</a>
    </form>
</body>
</html>