<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Profil</h1>
    <p id="username">Chargement...</p>
    <script>
      const res = await fetch('/api/me');
      if (res.ok) {
        const data = await res.json();
        document.getElementById('username').textContent = data.user.username;
      } else {
        window.location.href = '/login'; // redirige si pas connecté
}
    </script>
</body>
</html>