<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css">
    <title>Mon forum</title>
</head>
<body>
    <div class="navbar">
        <ul>
            <li><a href="/index">Monforum</a></li>
            <li><a href="news.asp">News</a></li>
            <li><a href="contact.asp">Contact</a></li>
            <form action="/action_page.php">
                <input type="text" placeholder="Search.." name="search">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
            <li style="float:right"><a href="/profil">Mon profil</a></li>
        </ul>
        </button>
    </div>
</body>
</html>